.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 40px;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
}

.logo {
    color: rgb(64, 64, 68);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
}

.infoBtnContainer {
    display: flex;
    gap: 30px;
    align-items: center;
}

.textInfo {
    color: rgb(55, 55, 58);
    font-size: 10px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: right;
}

.btnsContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.headerBtn {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    border: none;

    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(148, 150, 156);
    cursor: pointer;
    transition: 250ms all ease;
}

.headerIcon {
    width: 20px;
    height: 20px;
    stroke-width: 0;
    stroke: currentColor;
}

.icon {
    stroke: rgb(148, 150, 156);
    width: 100%;
    height: 100%;
}

.headerBtn:hover {
    color: rgb(60, 109, 255);

}